* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: relative;
  background-image: url("../img/wall.png");
  background-size: cover;
}

header h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

/* CARDS */
.cards-box {
  background-image: url(../img/cork.png);
  background-size: cover;
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 20px;
}

.card {
  position: relative;
  border: outset;
}

.pin {
  width: 40px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* centro verticalmente e orizzontalmente a metà la img */
}
