* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: relative;
  background-image: url("../img/wall.png");
  background-size: cover;
}

header h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-weight: bold;
  font-size: 80px;
}

/* CARDS */
main {
  background-image: url(../img/cork.png);
  background-size: cover;
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 25px;
}

.carta {
  position: relative;
  background-color: #fff;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.pin {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-15%); /* centro verticalmente e orizzontalmente a metà la img */
}

/* RESPONSIVE */
/* schermo md 720px	 */
@media (min-width: 720px) {
  header h1 {
    font-size: 120px;
  }
}

/* schermo lg 960px	 */
@media (min-width: 960px) {
  header h1 {
    font-size: 150px;
  }
}
