* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: relative;
  background-image: url("../img/wall.png");
}

header h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

/* CARDS */
.cards-box {
  background-image: url(../img/cork.png);
}

.pin {
  width: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* faccio partire da sinistra per centrare */
}
